@model SQLAzureDemo.Database.Repositories.MovieSearchResult

@{
    ViewBag.Title = "Search with no Transient protection";
}

<h1>@ViewBag.Title</h1>

@if (Model == null)
{
    <p>Enter a term to perform a partial search in the movie titles.</p>
    using (Html.BeginForm("Transient", "Home", FormMethod.Get))
    {
        <fieldset>
            <legend>Movie Search</legend>
            <p>
                @Html.Label("q", "Search term")
                @Html.TextBox("q")
            </p>
            <button type="submit" class="btn">Search</button>
        </fieldset>
    }
}
else
{
    <h2>Searching for: @Model.SearchTerm</h2>
    
    <p>There are <span class="label label-info">@Model.NumberOfMovies</span> that were returned with an average creation year of <span class="label label-info">@Model.AverageYearOfCreation</span>.</p>
    <p>@Html.ActionLink("Try again...", "Transient")</p>
}
